Here we will be selecting the specific data we want to use

In [2]:
import requests
import pandas as pd

In [20]:
nz_data = requests.get('https://covidmap.umd.edu/api/datesavail?country=New_Zealand&region=Auckland')
df_nz = pd.DataFrame(nz_data.json()['data'])
df_nz

         country    region survey_date
0    New Zealand  Auckland    20200501
1    New Zealand  Auckland    20200502
2    New Zealand  Auckland    20200503
3    New Zealand  Auckland    20200504
4    New Zealand  Auckland    20200505
..           ...       ...         ...
266  New Zealand  Auckland    20210220
267  New Zealand  Auckland    20210221
268  New Zealand  Auckland    20210222
269  New Zealand  Auckland    20210223
270  New Zealand  Auckland    20210224

[271 rows x 3 columns]

In [21]:
de_data = requests.get('https://covidmap.umd.edu/api/datesavail?country=Germany&region=Berlin')
df_de = pd.DataFrame(de_data.json()['data'])
df_de

     country  region survey_date
0    Germany  Berlin    20200501
1    Germany  Berlin    20200502
2    Germany  Berlin    20200503
3    Germany  Berlin    20200504
4    Germany  Berlin    20200505
..       ...     ...         ...
294  Germany  Berlin    20210220
295  Germany  Berlin    20210221
296  Germany  Berlin    20210222
297  Germany  Berlin    20210223
298  Germany  Berlin    20210224

[299 rows x 3 columns]

In [28]:
tk_data = requests.get('https://covidmap.umd.edu/api/datesavail?country=Australia&region=Queen%')
df_tk = pd.DataFrame(tk_data.json()['data'])
df_tk

       country      region survey_date
0    Australia  Queensland    20200501
1    Australia  Queensland    20200502
2    Australia  Queensland    20200503
3    Australia  Queensland    20200504
4    Australia  Queensland    20200505
..         ...         ...         ...
294  Australia  Queensland    20210220
295  Australia  Queensland    20210221
296  Australia  Queensland    20210222
297  Australia  Queensland    20210223
298  Australia  Queensland    20210224

[299 rows x 3 columns]

In [29]:
bz_data = requests.get('https://covidmap.umd.edu/api/datesavail?country=Brazil&region=Rio_de_Jan%')
df_bz = pd.DataFrame(bz_data.json()['data'])
df_bz

    country          region survey_date
0    Brazil  Rio de Janeiro    20200501
1    Brazil  Rio de Janeiro    20200502
2    Brazil  Rio de Janeiro    20200503
3    Brazil  Rio de Janeiro    20200504
4    Brazil  Rio de Janeiro    20200505
..      ...             ...         ...
295  Brazil  Rio de Janeiro    20210220
296  Brazil  Rio de Janeiro    20210221
297  Brazil  Rio de Janeiro    20210222
298  Brazil  Rio de Janeiro    20210223
299  Brazil  Rio de Janeiro    20210224

[300 rows x 3 columns]

In [50]:
url1 = 'https://covidmap.umd.edu/api/resources?indicator=mask&type=daily&country=New_Zealand&daterange=20200501-20210201'
nz_masks = requests.get(url1)
df_nz_masks = pd.DataFrame(nz_masks.json()['data'])
df_nz_masks

,percent_mc,mc_se,percent_mc_unw,mc_se_unw,sample_size,country,iso_code,gid_0,survey_date
0,0.159222,0.017354,0.170213,0.016895,470.0,New Zealand,NZL,NZL,20200501
1,0.207954,0.021073,0.202740,0.021272,365.0,New Zealand,NZL,NZL,20200502
2,0.165585,0.010497,0.143878,0.011117,1119.0,New Zealand,NZL,NZL,20200503
3,0.166781,0.010790,0.165261,0.010829,1186.0,New Zealand,NZL,NZL,20200504
4,0.161807,0.010886,0.160667,0.010917,1139.0,New Zealand,NZL,NZL,20200505
...,...,...,...,...,...,...,...,...,...
271,0.049532,0.008604,0.046589,0.008858,601.0,New Zealand,NZL,NZL,20210128
272,0.057959,0.009860,0.056466,0.009982,549.0,New Zealand,NZL,NZL,20210129
273,0.058491,0.010140,0.057143,0.010252,525.0,New Zealand,NZL,NZL,20210130
274,0.079287,0.010317,0.061111,0.011638,540.0,New Zealand,NZL,NZL,20210131
275,0.166409,0.013603,0.061093,0.021154,311.0,New Zealand,NZL,NZL,20210201

In [71]:
url2 = 'https://covidmap.umd.edu/api/resources?indicator=mask&type=daily&country=Germany&region=Berlin&daterange=20200501-20210201'
de_masks = requests.get(url2)
df_de_masks = pd.DataFrame(de_masks.json()['data'])
df_de_masks

,percent_mc,mc_se,percent_mc_unw,mc_se_unw,sample_size,country,region,iso_code,gid_0,gid_1,survey_date
0,0.597889,0.035325,0.581633,0.035113,196.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200501
1,0.611467,0.035985,0.602151,0.035836,186.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200502
2,0.657534,0.021641,0.644898,0.021459,490.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200503
3,0.692685,0.020617,0.676357,0.020331,516.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200504
4,0.664506,0.020608,0.681641,0.020887,512.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200505
...,...,...,...,...,...,...,...,...,...,...,...
270,0.869247,0.017385,0.869681,0.017409,376.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210128
271,0.826367,0.019369,0.821429,0.019156,392.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210129
272,0.843229,0.019642,0.827493,0.018902,371.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210130
273,0.865677,0.015713,0.880562,0.016521,427.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210131
274,0.871395,0.019243,0.861111,0.018627,324.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210201

In [57]:
url3 = 'https://covidmap.umd.edu/api/resources?indicator=mask&type=daily&country=Canada%&region=Ontario%&daterange=20200501-20210201'
ca_masks = requests.get(url3)
df_ca_masks = pd.DataFrame(ca_masks.json()['data'])
df_ca_masks

,percent_mc,mc_se,percent_mc_unw,mc_se_unw,sample_size,country,region,iso_code,gid_0,gid_1,survey_date
0,0.339111,0.021571,0.338174,0.021586,482.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200501
1,0.397362,0.024001,0.387409,0.024109,413.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200502
2,0.346425,0.021948,0.343284,0.021995,469.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200503
3,0.376700,0.022853,0.359729,0.023074,442.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200504
4,0.379637,0.021579,0.376238,0.021617,505.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200505
...,...,...,...,...,...,...,...,...,...,...,...
271,0.904329,0.011776,0.911111,0.012172,585.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210128
272,0.911051,0.012754,0.905303,0.012400,528.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210129
273,0.916730,0.011673,0.917415,0.011717,557.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210130
274,0.920764,0.011102,0.925267,0.011404,562.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210131
275,0.879790,0.015153,0.903141,0.016661,382.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210201

In [44]:
url4 = 'https://covidmap.umd.edu/api/resources?indicator=mask&type=daily&country=Brazil&region=Rio_de_J%&daterange=20200501-20210201'
bz_masks = requests.get(url4)
df_bz_masks = pd.DataFrame(bz_masks.json()['data'])
df_bz_masks

,percent_mc,mc_se,percent_mc_unw,mc_se_unw,sample_size,country,region,iso_code,gid_0,gid_1,survey_date
0,0.740883,0.013689,0.755061,0.013946,988.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200501
1,0.719302,0.014279,0.754675,0.014912,909.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200502
2,0.790937,0.013698,0.795167,0.013802,869.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200503
3,0.788841,0.013222,0.798913,0.013463,920.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200504
4,0.777742,0.013572,0.787679,0.013798,909.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200505
...,...,...,...,...,...,...,...,...,...,...,...
271,0.847124,0.011837,0.850385,0.011943,909.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210128
272,0.846583,0.012822,0.847522,0.012855,787.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210129
273,0.849241,0.011927,0.873077,0.012820,780.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210130
274,0.852298,0.012160,0.856115,0.012293,834.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210131
275,0.868420,0.012640,0.873199,0.012841,694.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210201

In [59]:
covid_url1 = 'https://covidmap.umd.edu/api/resources?indicator=covid&type=daily&country=Brazil&region=Rio_de_J%&daterange=20200501-20210201'
bz_covid = requests.get(covid_url1)
df_bz_covid = pd.DataFrame(bz_covid.json()['data'])
df_bz_covid

,percent_cli,cli_se,percent_cli_unw,cli_se_unw,sample_size,country,region,iso_code,gid_0,gid_1,survey_date
0,0.031122,0.006521,0.032877,0.005389,1095.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200501
1,0.050457,0.008904,0.047331,0.006739,993.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200502
2,0.034705,0.007633,0.036842,0.006112,950.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200503
3,0.025081,0.006107,0.027344,0.005096,1024.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200504
4,0.035082,0.007844,0.036548,0.005979,985.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20200505
...,...,...,...,...,...,...,...,...,...,...,...
272,0.013934,0.004531,0.015741,0.003788,1080.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210128
273,0.009700,0.004149,0.007384,0.002781,948.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210129
274,0.022917,0.006369,0.022556,0.004866,931.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210130
275,0.011311,0.004097,0.013145,0.003622,989.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210131
276,0.016141,0.005388,0.020000,0.004802,850.0,Brazil,Rio de Janeiro,BRA,BRA,BRA.19_1,20210201

In [62]:
covid_url2 = 'https://covidmap.umd.edu/api/resources?indicator=covid&type=daily&country=Canada&region=Ontario%&daterange=20200501-20210201'
ca_covid = requests.get(covid_url2)
df_ca_covid = pd.DataFrame(ca_covid.json()['data'])
df_ca_covid

,percent_cli,cli_se,percent_cli_unw,cli_se_unw,sample_size,country,region,iso_code,gid_0,gid_1,survey_date
0,0.008777,0.004932,0.007692,0.003831,520.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200501
1,0.004100,0.003441,0.004525,0.003192,442.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200502
2,0.000000,0.000000,0.000000,0.000000,501.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200503
3,0.003202,0.003011,0.002101,0.002099,476.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200504
4,0.009113,0.004938,0.007519,0.003745,532.0,Canada,Ontario,CAN,CAN,CAN.9_1,20200505
...,...,...,...,...,...,...,...,...,...,...,...
272,0.002647,0.002250,0.003130,0.002210,639.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210128
273,0.000000,0.000000,0.000000,0.000000,579.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210129
274,0.008756,0.004297,0.006612,0.003295,605.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210130
275,0.007013,0.003784,0.008065,0.003592,620.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210131
276,0.005048,0.004267,0.004608,0.003251,434.0,Canada,Ontario,CAN,CAN,CAN.9_1,20210201

In [61]:
covid_url3 = 'https://covidmap.umd.edu/api/resources?indicator=covid&type=daily&country=Germany&region=Berlin%&daterange=20200501-20210201'
de_covid = requests.get(covid_url3)
df_de_covid = pd.DataFrame(de_covid.json()['data'])
df_de_covid

,percent_cli,cli_se,percent_cli_unw,cli_se_unw,sample_size,country,region,iso_code,gid_0,gid_1,survey_date
0,0.002773,0.005365,0.004566,0.004556,219.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200501
1,0.004447,0.006167,0.004950,0.004938,202.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200502
2,0.003535,0.004133,0.003824,0.002699,523.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200503
3,0.004611,0.004084,0.005445,0.003135,551.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200504
4,0.002154,0.002678,0.001821,0.001820,549.0,Germany,Berlin,DEU,DEU,DEU.3_1,20200505
...,...,...,...,...,...,...,...,...,...,...,...
271,0.001054,0.002108,0.002433,0.002430,411.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210128
272,0.004762,0.004526,0.004717,0.003328,424.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210129
273,0.005123,0.005172,0.005038,0.003553,397.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210130
274,0.011616,0.006435,0.008639,0.004301,463.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210131
275,0.006494,0.005688,0.008264,0.004752,363.0,Germany,Berlin,DEU,DEU,DEU.3_1,20210201

In [63]:
covid_url4 = 'https://covidmap.umd.edu/api/resources?indicator=covid&type=daily&country=Japan&region=Tokyo%&daterange=20200501-20210201'
jp_covid = requests.get(covid_url4)
df_jp_covid = pd.DataFrame(jp_covid.json()['data'])
df_jp_covid

,percent_cli,cli_se,percent_cli_unw,cli_se_unw,sample_size,country,region,iso_code,gid_0,gid_1,survey_date
0,0.019789,0.013080,0.011236,0.007900,178.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200501
1,0.006454,0.006561,0.010127,0.005038,395.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200502
2,0.008173,0.004024,0.008015,0.002214,1622.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200503
3,0.005995,0.002880,0.005891,0.001696,2037.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200504
4,0.014176,0.004434,0.008708,0.001989,2182.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200505
...,...,...,...,...,...,...,...,...,...,...,...
272,0.006282,0.002868,0.005348,0.001886,1496.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210128
273,0.002497,0.001924,0.002886,0.001441,1386.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210129
274,0.003379,0.002092,0.001882,0.001086,1594.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210130
275,0.001962,0.001630,0.002688,0.001342,1488.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210131
276,0.009248,0.004556,0.004255,0.002123,940.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210201

In [64]:
url5 = 'https://covidmap.umd.edu/api/resources?indicator=mask&type=daily&country=Japan%&region=Tokyo%&daterange=20200501-20210201'
jp_masks = requests.get(url5)
df_jp_masks = pd.DataFrame(jp_masks.json()['data'])
df_jp_masks

,percent_mc,mc_se,percent_mc_unw,mc_se_unw,sample_size,country,region,iso_code,gid_0,gid_1,survey_date
0,0.960068,0.019032,0.934911,0.015106,169.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200501
1,0.945816,0.010814,0.954424,0.011737,373.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200502
2,0.927144,0.006293,0.934938,0.006631,1537.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200503
3,0.905823,0.006036,0.924156,0.006659,1925.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200504
4,0.880541,0.006336,0.908129,0.007115,2079.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20200505
...,...,...,...,...,...,...,...,...,...,...,...
271,0.981419,0.003218,0.985507,0.003636,1380.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210128
272,0.957071,0.004585,0.972506,0.005683,1273.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210129
273,0.978171,0.003155,0.985095,0.003805,1476.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210130
274,0.984399,0.002891,0.988372,0.003342,1376.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210131
275,0.984774,0.003838,0.987194,0.004180,859.0,Japan,Tokyo,JPN,JPN,JPN.41_1,20210201

## Actual datasets

In [88]:
df_ge = df_de_masks.merge(df_de_covid, left_on='survey_date', right_on='survey_date')
df_ge_final = df_ge[['country_x', 'region_x','percent_mc', 'percent_cli', 'survey_date']]
df_ge_final.to_csv('Germany_final_data.csv')

In [87]:
df_ca = df_ca_masks.merge(df_ca_covid, left_on='survey_date', right_on='survey_date')
df_ca_final = df_ca[['country_x', 'region_x','percent_mc', 'percent_cli', 'survey_date']]
df_ca_final.to_csv('Canada_final_data.csv')

In [86]:
df_bz = df_bz_masks.merge(df_bz_covid, left_on='survey_date', right_on='survey_date')
df_bz_final = df_bz[['country_x', 'region_x','percent_mc', 'percent_cli', 'survey_date']]
df_bz_final.to_csv('Brazil_final_data.csv')

In [85]:
df_jp = df_jp_masks.merge(df_jp_covid, left_on='survey_date', right_on='survey_date')
df_jp_final = df_jp[['country_x', 'region_x','percent_mc', 'percent_cli', 'survey_date']]
df_jp_final.to_csv('Japan_final_data.csv')