In [2]:
import gzip
import pandas as pd
import requests
import json

In [12]:
df_count = pd.read_csv('04_april_daily_country_full.csv.gz')
df_count.head()

,country,GID_0,gender,age_bucket,date,n_worried_food,n_worried_finances,n_worked_7d,eff_n_worried_food,eff_n_worried_finances,eff_n_worked_7d,pct_worried_food,pct_worried_finances,pct_worked_7d,pct_worried_food_unw,pct_worried_finances_unw,pct_worked_7d_unw
0,Afghanistan,AFG,overall,overall,2020-04-23,64.0,NaN,NaN,32.330620,NaN,NaN,38.538709,NaN,NaN,43.750000,NaN,NaN
1,Albania,ALB,female,overall,2020-04-23,54.0,NaN,NaN,22.527052,NaN,NaN,43.693431,NaN,NaN,42.592593,NaN,NaN
2,Albania,ALB,male,overall,2020-04-23,72.0,NaN,NaN,39.537443,NaN,NaN,37.052034,NaN,NaN,34.722222,NaN,NaN
3,Albania,ALB,overall,18-34,2020-04-23,77.0,NaN,NaN,62.272460,NaN,NaN,40.203991,NaN,NaN,36.363636,NaN,NaN
4,Albania,ALB,overall,overall,2020-04-23,138.0,NaN,NaN,67.518166,NaN,NaN,40.800369,NaN,NaN,38.405797,NaN,NaN

Seems the daily table

In [15]:
df_reg = pd.read_csv('04_april_daily_region_full.csv.gz')
df_reg.head()

,country,GID_0,region,GID_1,country_region_numeric,gender,age_bucket,date,n_worried_food,n_worried_finances,n_worked_7d,eff_n_worried_food,eff_n_worried_finances,eff_n_worked_7d,pct_worried_food,pct_worried_finances,pct_worked_7d,pct_worried_food_unw,pct_worried_finances_unw,pct_worked_7d_unw
0,Argentina,ARG,Buenos Aires,ARG.1_1,157.0,overall,overall,2020-04-30,82.0,NaN,NaN,61.019798,NaN,NaN,50.187455,NaN,NaN,48.780488,NaN,NaN
1,Brazil,BRA,Distrito Federal,BRA.7_1,464.0,female,18-34,2020-04-30,53.0,NaN,NaN,21.385658,NaN,NaN,58.704773,NaN,NaN,54.716981,NaN,NaN
2,Brazil,BRA,Distrito Federal,BRA.7_1,464.0,female,overall,2020-04-30,79.0,NaN,NaN,35.557985,NaN,NaN,51.279935,NaN,NaN,50.632911,NaN,NaN
3,Brazil,BRA,Distrito Federal,BRA.7_1,464.0,male,overall,2020-04-30,81.0,NaN,NaN,30.239873,NaN,NaN,54.016334,NaN,NaN,49.382716,NaN,NaN
4,Brazil,BRA,Distrito Federal,BRA.7_1,464.0,overall,18-34,2020-04-30,103.0,NaN,NaN,44.987346,NaN,NaN,53.237547,NaN,NaN,49.514563,NaN,NaN

In [18]:
df_smooth = pd.read_csv('daily_country_smooth_full.csv.gz')
df_smooth.head(50)

,country,GID_0,gender,age_bucket,date,pct_worried_food_wgt_smooth,worried_food_eff_smooth,worried_food_n_smooth,pct_worried_finances_wgt_smooth,worried_finances_eff_smooth,worried_finances_n_smooth,pct_worked_7d_wgt_smooth,worked_7d_eff_smooth,worked_7d_n_smooth
0,Afghanistan,AFG,female,18-34,2020-05-28,36.682243,30.769786,52.0,65.896071,30.769786,52.0,NaN,NaN,NaN
1,Afghanistan,AFG,female,18-34,2020-05-29,36.135214,42.284293,71.0,62.593641,42.284293,71.0,NaN,NaN,NaN
2,Afghanistan,AFG,female,18-34,2020-05-30,41.153936,43.712323,76.0,64.010625,43.712323,76.0,NaN,NaN,NaN
3,Afghanistan,AFG,female,18-34,2020-05-31,40.435921,48.918625,85.0,66.622955,48.918625,85.0,NaN,NaN,NaN
4,Afghanistan,AFG,female,18-34,2020-06-01,43.730218,57.457727,97.0,70.488922,57.457727,97.0,NaN,NaN,NaN
5,Afghanistan,AFG,female,18-34,2020-06-02,48.284788,62.333117,105.0,69.599170,62.461281,106.0,NaN,NaN,NaN
6,Afghanistan,AFG,female,18-34,2020-06-03,49.725435,63.749361,107.0,67.371168,63.877525,108.0,NaN,NaN,NaN
7,Afghanistan,AFG,female,18-34,2020-06-04,49.105884,62.367622,104.0,66.765073,62.495786,105.0,NaN,NaN,NaN
8,Afghanistan,AFG,female,18-34,2020-06-05,50.105272,58.500003,94.0,63.121820,58.628167,95.0,NaN,NaN,NaN
9,Afghanistan,AFG,female,18-34,2020-06-06,48.746169,62.296173,99.0,63.331942,62.424337,100.0,NaN,NaN,NaN
10,Afghanistan,AFG,female,18-34,2020-06-07,47.306000,59.411795,97.0,58.482597,59.539959,98.0,NaN,NaN,NaN
11,Afghanistan,AFG,female,18-34,2020-06-08,45.205272,54.186298,89.0,54.481393,54.314463,90.0,NaN,NaN,NaN
12,Afghanistan,AFG,female,18-34,2020-06-09,43.123436,49.704637,80.0,55.993216,49.704637,80.0,NaN,NaN,NaN
13,Afghanistan,AFG,female,18-34,2020-06-10,37.634875,52.962767,87.0,52.819621,52.962767,87.0,NaN,NaN,NaN
14,Afghanistan,AFG,female,18-34,2020-06-11,36.096433,51.985431,87.0,52.081296,51.985431,87.0,NaN,NaN,NaN
15,Afghanistan,AFG,female,18-34,2020-06-12,31.298721,46.588935,79.0,48.896283,46.588935,79.0,NaN,NaN,NaN
16,Afghanistan,AFG,female,18-34,2020-06-13,29.149533,44.522416,80.0,52.040259,45.001262,81.0,NaN,NaN,NaN
17,Afghanistan,AFG,female,18-34,2020-06-14,28.534993,43.439955,76.0,51.210508,43.918801,77.0,NaN,NaN,NaN
18,Afghanistan,AFG,female,18-34,2020-06-15,27.769029,39.819232,71.0,47.738750,40.298078,72.0,NaN,NaN,NaN
19,Afghanistan,AFG,female,18-34,2020-06-16,27.218736,37.696649,68.0,44.180045,38.175495,69.0,NaN,NaN,NaN
20,Afghanistan,AFG,female,18-34,2020-06-17,34.737011,33.755152,63.0,48.859515,34.233999,64.0,NaN,NaN,NaN
21,Afghanistan,AFG,female,18-34,2020-06-18,36.921089,39.327940,69.0,55.564477,39.498992,69.0,NaN,NaN,NaN
22,Afghanistan,AFG,female,18-34,2020-06-19,41.310653,37.786017,67.0,63.725141,37.957070,67.0,NaN,NaN,NaN
23,Afghanistan,AFG,female,18-34,2020-06-20,47.174581,35.038599,59.0,62.345602,34.730805,58.0,NaN,NaN,NaN
24,Afghanistan,AFG,female,18-34,2020-06-21,48.457236,32.940142,56.0,65.780355,32.632348,55.0,NaN,NaN,NaN
25,Afghanistan,AFG,female,18-34,2020-06-22,46.681122,36.344557,63.0,59.068553,36.036763,62.0,NaN,NaN,NaN
26,Afghanistan,AFG,female,18-34,2020-06-23,45.730040,37.121759,64.0,56.113424,35.851594,62.0,NaN,NaN,NaN
27,Afghanistan,AFG,female,18-34,2020-06-24,43.031026,38.158938,64.0,53.020050,36.888773,62.0,NaN,NaN,NaN
28,Afghanistan,AFG,female,18-34,2020-06-25,47.699987,32.111974,56.0,44.416923,31.149603,55.0,NaN,NaN,NaN
29,Afghanistan,AFG,female,18-34,2020-06-26,47.194676,29.603362,53.0,39.586820,28.640992,52.0,NaN,NaN,NaN
30,Afghanistan,AFG,female,18-34,2020-06-27,41.113718,30.500223,57.0,36.755847,29.537852,56.0,NaN,NaN,NaN
31,Afghanistan,AFG,female,18-34,2020-06-28,42.391160,32.873750,59.0,39.906713,31.911380,58.0,NaN,NaN,NaN
32,Afghanistan,AFG,female,18-34,2020-06-29,42.238301,30.290462,53.0,48.480557,29.328092,52.0,NaN,NaN,NaN
33,Afghanistan,AFG,female,18-34,2020-06-30,36.628500,31.795809,55.0,44.308494,31.944874,56.0,NaN,NaN,NaN
34,Afghanistan,AFG,female,18-34,2020-07-01,38.865567,31.271939,51.0,47.171821,31.421004,52.0,NaN,NaN,NaN
35,Afghanistan,AFG,female,18-34,2020-07-02,36.087221,29.333271,50.0,47.680190,29.482336,51.0,NaN,NaN,NaN
36,Afghanistan,AFG,female,18-34,2020-07-03,29.266456,31.887143,50.0,45.907971,32.036208,51.0,NaN,NaN,NaN
37,Afghanistan,AFG,female,overall,2020-05-15,33.545606,27.015068,56.0,52.122540,26.090730,55.0,NaN,NaN,NaN
38,Afghanistan,AFG,female,overall,2020-05-16,31.006862,28.836014,58.0,54.022282,27.911676,57.0,NaN,NaN,NaN
39,Afghanistan,AFG,female,overall,2020-05-17,32.221196,34.628108,77.0,57.897105,33.703770,76.0,NaN,NaN,NaN
40,Afghanistan,AFG,female,overall,2020-05-18,30.666499,33.433091,81.0,55.321849,33.433091,81.0,NaN,NaN,NaN
41,Afghanistan,AFG,female,overall,2020-05-19,30.582727,35.491984,80.0,61.233270,36.888638,82.0,NaN,NaN,NaN
42,Afghanistan,AFG,female,overall,2020-05-20,31.899014,38.168365,90.0,60.109391,39.565020,92.0,NaN,NaN,NaN
43,Afghanistan,AFG,female,overall,2020-05-21,27.334954,37.555043,95.0,53.085108,38.951698,97.0,NaN,NaN,NaN
44,Afghanistan,AFG,female,overall,2020-05-22,36.307582,36.734206,100.0,62.214641,38.130860,102.0,NaN,NaN,NaN
45,Afghanistan,AFG,female,overall,2020-05-23,36.728898,36.899166,101.0,64.794776,38.295820,103.0,NaN,NaN,NaN
46,Afghanistan,AFG,female,overall,2020-05-24,38.692194,38.855003,92.0,65.818565,40.251657,94.0,NaN,NaN,NaN
47,Afghanistan,AFG,female,overall,2020-05-25,40.712799,41.173268,92.0,67.540958,42.569922,94.0,NaN,NaN,NaN
48,Afghanistan,AFG,female,overall,2020-05-26,38.887221,47.939527,108.0,61.886792,47.939527,108.0,NaN,NaN,NaN
49,Afghanistan,AFG,female,overall,2020-05-27,36.953253,45.361342,102.0,68.997134,45.361342,102.0,NaN,NaN,NaN

In [23]:
all_count = df_smooth['country'].unique()

In [25]:
#114 Countries in the smooth daily csv's
print(f'There are {len(all_count)} countries in this list')

There are 114 countries in this list

In [3]:
#ind = 'mask'
#the_type = 'daily'
#count = 'Australia'
#reg = 'all'
#idate = '20210101'
api_response = requests.get("https://covidmap.umd.edu/api/resources?indicator=mask&type=daily&country=Australia&date=20210101")

In [5]:
api_response.status_code

200

In [8]:
api_json = api_response.json()
api_json

{'data': [{'percent_mc': 0.304931,
   'mc_se': 0.010362,
   'percent_mc_unw': 0.277689,
   'mc_se_unw': 0.010652,
   'sample_size': 1869.0,
   'country': 'Australia',
   'iso_code': 'AUS',
   'gid_0': 'AUS',
   'survey_date': '20210101'}],
 'status': 'success'}

In [15]:
#api_json['data']
df_api = pd.DataFrame(api_json['data'])
df_api

,percent_mc,mc_se,percent_mc_unw,mc_se_unw,sample_size,country,iso_code,gid_0,survey_date
0,0.304931,0.010362,0.277689,0.010652,1869.0,Australia,AUS,AUS,20210101

In [37]:
api_regions = requests.get('https://covidmap.umd.edu/api/region')
df_regions = pd.DataFrame(api_regions.json()['data'])
df_regions.loc[645:650]

            country                    region
645  United Kingdom                South East
646  United Kingdom                South West
647  United Kingdom                     Wales
648  United Kingdom             West Midlands
649  United Kingdom  Yorkshire and the Humber
650         Uruguay                 Canelones

Find mask percentages over a date range

Country will be United Kingdom. Region: London
Date range: December 2, 2020 - January 30, 2021

In [47]:
api_dates = requests.get("https://covidmap.umd.edu/api/resources?indicator=mask&type=smoothed&country=United_Kingdom&region=London&daterange=20201202-20210130")
api_dates.status_code

200

In [51]:
df_dates = pd.DataFrame(api_dates.json()['data'])
df_dates.loc[30:41]

,smoothed_mc,smoothed_mc_se,sample_size_mc,country,region,iso_code,gid_0,gid_1,survey_date
30,0.802306,0.010314,1544.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210120
31,0.800695,0.010388,1514.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210121
32,0.793661,0.010477,1515.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210122
33,0.782621,0.010588,1526.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210123
34,0.778983,0.010534,1563.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210124
35,0.792152,0.010464,1550.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210125
36,0.786918,0.010473,1574.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210126
37,0.787218,0.010481,1582.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210127
38,0.780310,0.010554,1596.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210128
39,0.789583,0.010411,1586.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210129
40,0.784458,0.010681,1530.0,United Kingdom,London,GBR,GBR,GBR.1_1,20210130